
.table {
    display: table;
    border-top: 1px solid;
    border-right: 1px solid;
}
.table-row {
    width: 50%;
    display: table-row;

}
.table ul{
    display: none;
}
.table-cell {
    border: 1px solid ;
    display: table-cell;
    border-right: 0px;
    border-top: 0px;
}
.main:hover span{
    visibility: hidden;
}
