
.table {
    display: table;
}
.table-row {
    width: 50%;
    display: table-row;
}
.table ul{
    display: none;
}
.table-cell {
    border: 1px solid ;
    display: table-cell;
}
.main:hover span{
    visibility: hidden;
}
